*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-atkinson-hyper {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn{
    background-color: blue;
    border: none;
    border-radius: 6px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* main style */

header {
    background: url("../images/developer.png"), url("../images/header-bg.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-color: #f5f0fc;
    background-size: auto 100%;
    padding-top: 50px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-blue {
    color:blue;
}
nav {
    width: 73%;
    max-width: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 52px;
    align-items: center;
}
nav .menu a {
    font-size: 21px;
    color: #474747;
    text-decoration: none;
}
#banner{
     /* border: 1px solid violet; */
    margin: 47px 40px 0px 258px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-image, img{
    width: 300px;
    height: 300px;
}
#banner .banner-content {
    max-width: 585px;
    
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}