*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-atkinson-hyper {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn{
    background-color: blue;
    border: none;
    border-radius: 7px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.section-heading{
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #474747;
}



/* main style */

header {
    background: url("../images/developer.png"), 
    url("../images/header-bg.png"), #f5f0fc;
    background-position: 23px 6px, bottom right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-top: 40px;
    height: 650px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-blue {
    color:blue;
}
nav {
    width: 70%;
    max-width: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 50px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 52px;
    align-items: center;
}
nav .menu a {
    font-size: 21px;
    color: #474747;
    text-decoration: none;
}
#banner{
     /* border: 1px solid violet; */
    margin: 100px 190px 0px 287px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-image img{
    width: 350px;
    height: 350px;
}
.banner-image {
    flex-shrink: 0;
}
#banner .banner-content {
    max-width: 585px;
    
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 1.7;
    margin-bottom: 30px;
}

/* about-section */


#about{
    padding-top: 140px;
}
#about .about-container{
    width: 70%;
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: #f5f0fc ;
    padding: 131px 156px;
    border-radius: 7px;

}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
.about-info .info-card h4 {
    font-size: 35xp;
}

/* skill-section */


#skills{
    padding-top: 140px;
}
#skills .skills-conatiner{
    width: 70%;
    max-width: 0 auto;
    margin: 0 auto;


}
#skills .skills-conatiner .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid gray; */
    box-shadow: 0 6px 50px 0 #f5f0fc;
    max-width: 0 auto;
}
.skill-card img{
    max-width: 54px;
    margin-bottom: 40px;

}
.skill-card h3{
    font-size: 30px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color:#474747;
    line-height: 30px;
}

/* Resume-section */
.resume-container hr{
    margin: 30px 0;
}

#resume{
    padding-top: 140px;
}
#resume .resume-container{
    width: 70%;
    max-width: 0 auto;
    margin: 115px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 38px;
}
.resume-container .section-tittle{
    font-size: 30px;
    color: #474747;
    margin-bottom: 35px;
}

.resume-card{
    max-width: 515px;
    /* max-height: 115px; */
    margin-right: 47px;
}
.resume-card .card-tittle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    /* margin-bottom: 20px; */
    color: #757575;
}

/* button-alignment */

.text-center{
    text-align: center;
}


/* footer-section */

footer{
    margin-top: 130px;
    background-color: #f5f0fc;
    padding: 130px 0;
}
footer .footer-container{
    width: 70%;
    max-width: 0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-container .social{
    max-width: 562px;

}
.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    line-height: 16px;
    margin-bottom: 30px;
}
.footer-container .icons a {
    margin-right: 24px;
}
.footer-container form input[type="text"] ,
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}